@page "/"
@inject HttpClient _HttpClient
@using BlazorWebApi.Domain.Entities;

<BlazorWebApi.SharedComponents.VillaSlideShow />

<BlazorWebApi.SharedComponents.BodyNavBar OnOffer="GetSpecialsOffes" Category="GetCategory" />
<div>
    <div class="row">
        @if (Villas != null && Villas.Any())
        {
            @foreach (Villa item in Villas)
            {
                <BlazorWebApi.SharedComponents.VillaItemComponent villa="item" IsMobile="false" />
                @*    <VillaItem villa="item" /> *@
            }
        }

    </div>
</div>

@code {
    [Parameter]
    public EventCallback OnReservedVilla { get; set; }
    [CascadingParameter] public int selectedCategory { get; set; }
    public IEnumerable<Villa>? Villas { get; set; }
}

@functions{
    protected override async Task OnInitializedAsync()
    {
        try
        {
            Villas = await _HttpClient.GetFromJsonAsync<IEnumerable<Villa>>("/api/Villa");
        }
        catch (Exception)
        {
            Console.WriteLine("خطا در هنگام گرفتن اطلاعات ویلا");
        }

        await base.OnInitializedAsync();
    }


    private async Task GetSpecialsOffes()
    {
        Villas = await _HttpClient.GetFromJsonAsync<IEnumerable<Villa>>("/api/Villa/offers");
        StateHasChanged();
    }

    private async Task GetCategory(int Type)
    {
        Villas = await _HttpClient.GetFromJsonAsync<IEnumerable<Villa>>("/api/Villa/idtype/" + Type);
        StateHasChanged();
    }
}

