@page "/ADCreateMessage"
@layout BlazorWebApi.Client.Shared.Admin.AdminLayout
@inject HttpClient _httpclient

<title>پیام ها</title>
<BlazorWebApi.Client.Shared.CreateMessage Type="2" ID="2"/>

@code {
    int ID = 0;
}
