@inject HttpClient _httpClient
@inject NavigationManager _navigation
@inject IJSRuntime JS
@using BlazorWebApi.SharedComponents
@using BlazorWebApi.SharedComponents.Admin
<style>
    .btn-custom {
        width: 100%;
        height: 33%;
        border: 1px solid rgb(100,100,100) !important; /* مرز ۲ پیکسلی */
        background-color: transparent; /* بک‌گراند بی‌رنگ */
        margin-top: 7px;
    }

        /* زمانی که دکمه فعال یا بر روی آن می‌روند */
        .btn-custom:hover, .btn-custom:focus {
            background-color: rgba(0, 0, 0, 5); /* تغییر رنگ پس‌زمینه زمانی که موس بر روی دکمه باشد */
            color: #000; /* رنگ متن */
            border: 0px;
        }

    .accordion-body, .accordion-header {
        padding: 0px; /* حذف فاصله بالای بدنه آکاردئون */
    }
</style>

<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Accordion Example</title>
    <!-- لینک به CSS بوت‌استرپ -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h4 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    منو
                </button>
            </h4>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>به نرم افزار ویلای من خوش آمدید</strong><br />  سادگی کار در پیدا کردن ویلای مناسب
                    <div class="mt-3">
                        <button type="button" class="btn btn-custom" @onclick="GoTOLoginPage">ثبت نام/ورود</button>
                        <button type="button" class="btn btn-custom" @* @onclick="GoToHomePage" *@>خانه</button>
                        <button type="button" class="btn btn-custom" @* @onclick="GoToVillasPage" *@>ویلا‌ها</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <script>
        // بستن منو آکاردئون پس از کلیک
        function closeMenu() {
            var myCollapse = document.getElementById('collapseOne');
            var bsCollapse = new bootstrap.Collapse(myCollapse, {
                toggle: false
            });
            bsCollapse.hide();
        }
    </script>
</body>
</html>


@code
{
    [CascadingParameter(Name = "ShoppingCartCountModel")]
    private ShoppingCartCountModel? shoppingCartCountModel { get; set; }
    int CustomerID = 1;
    protected override async Task OnInitializedAsync()
    {
        if (shoppingCartCountModel != null)
        {

            shoppingCartCountModel.CountChange += async () =>
            {
                shoppingCartCountModel.Count = await _httpClient.GetFromJsonAsync<int>("http://10.0.2.2:6170/api/ShoppingCart/count");
                StateHasChanged();
            };

        }
        await base.OnInitializedAsync();
    }
}

@functions {
    public async void GoTOLoginPage()
    {
        _navigation.NavigateTo("/adminlogin");
        await InvokeJsToCloseMenu();
    }

    private async Task InvokeJsToCloseMenu()
    {
        // فراخوانی جاوااسکریپت برای بستن منو
        await JS.InvokeVoidAsync("closeMenu");
    }
}
