<!-- BookingSteps.razor -->
<div class="sidebar-section">
    <h4>مراحل رزرو</h4>
    <ol>
        <li>انتخاب تاریخ</li>
        <li>انتخاب ویلا</li>
        <li>پرداخت</li>
        <li>تایید رزرو</li>
    </ol>
</div>
