<!-- FAQ.razor -->
<div class="sidebar-section">
    <h4>سوالات متداول</h4>
    <ul>
        <li>چطور ویلا رزرو کنم؟</li>
        <li>چگونه پرداخت کنم؟</li>
        <li>آیا ویلاها به صورت روزانه اجاره داده می‌شوند؟</li>
    </ul>
</div>
