@inherits LayoutComponentBase

<style>

    /* سایدبار کلی */
    .sidebar-wrapper {
        position: relative;
        padding-top: 20px;
        width: 100%; /* می‌توانید تنظیم کنید */
        font-family: Tahoma;
        background-image: url('_content/BlazorWebApi.SharedComponents/images/leaves.png'); /* مسیر تصویر */
        background-repeat: repeat; /* تکرار تصویر */
        background-position: top left; /* موقعیت تصویر در گوشه بالای سمت چپ */
        background-color: coral;
        background-blend-mode: luminosity;
        height: contain; /* ارتفاع سایدبار */
        width: 250px; /* عرض سایدبار */
        box-shadow: -1px 1px 10px;
        border-radius: 10px; /* گرد کردن گوشه‌ها */
        position: absolute;
    }

    /* اطلاعات کاربر */
    .user-info {
        position: relative;
        height: 400px; /* ارتفاع ثابت برای کادر اطلاعات کاربر */
        overflow: auto; /* برای اسکرول کردن در صورتی که محتویات بیشتر از 400px باشد */
        z-index: 10;
        padding: 10px;
        border-radius: 10px; /* گرد کردن گوشه‌ها */
        margin-bottom: 20px; /* فاصله پایین برای ایجاد فاصله با سایر بخش‌ها */
        background-color: transparent;
        color: white;
    }

    /* سایر بخش‌های سایدبار که زیر اطلاعات کاربر قرار می‌گیرند */
    .villa-options,
    .map-location,
    .booking-steps,
    .faq,
    .support {
        position: relative;
        z-index: 1;
        padding: 10px;
        margin-top: 10px; /* فاصله بالای هر بخش */
        display:contents;
        position:absolute;
    }
    /* استایل برای لینک‌ها در سایدبار */
    .sidebar-item {
        margin: 10px 0;
    }

    .sidebar-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #333;
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

        .sidebar-link:hover {
            background-color: #f0f0f0;
        }

        .sidebar-link i {
            margin-right: 10px;
        }
</style>


<div class="sidebar-wrapper">
    <div class="user-info">
        <UserInfo />
    </div>

    <div class="support faq">
        <VillaOptions />
        @*    <MapLocation /> *@
        <BookingSteps />
        <FAQ />
        <Support />
    </div>

</div>
