<!-- MapLocation.razor -->
<div class="sidebar-section">
    <h4>موقعیت مکانی</h4>
    <!-- فرض کنید از Google Maps یا سرویس مشابه استفاده می‌کنید -->
    <iframe width="100%" height="250" src="https://www.google.com/maps/embed?pb=..." frameborder="0" allowfullscreen></iframe>
</div>
