@using Blazored.LocalStorage
@inject ILocalStorageService _localStorage
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<style>

    .profile-menu-container {
        position: relative;
        z-index: 9999;
    }

    .container1 {
        position: relative;
        z-index: 9999;
        display: flex;
        background-color: transparent;
        border: none;
        border-radius: 5px;
        font-family: Tahoma, sans-serif;
        font-size: 14px;
        gap: 4px;
        max-width: 270px
    }

    .intro1 {
        position: relative;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        max-height: 100%;
        max-width: 30%;
    }

    .icon {
        width: 100%;
        height: 24px;
        font-size: 14px;
        font-weight: normal;
        color: var(--color-icon-high-emphasis);
    }

    .intro2 {
        position: relative;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        max-height: 45px;
        max-width: 17%;
    }

    .intro3 {
        position: relative;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        width: 20%;
        max-width: 20%;
        cursor: pointer;
        text-align: center;
    }

    .profile {
        display: flex;
        margin-right: 0px;
        width: 80%;
        height: 100%;
    }

        .profile i {
            display: flex;
            top: 5px;
            margin: auto !important;
        }

    .profile1 {
        display: flex;
        margin-left: 0px;
        width: 20%;
        height: 100%;
    }

    .profile-menu-button {
        position: relative;
        z-index: 9999;
        background-color: transparent;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        justify-content: center;
        justify-items: center;
        align-content: center;
        width: 50px;
        height: 50px;
        margin: auto;
    }

        .profile-menu-button:hover {
            background-color: aliceblue;
        }



    .a {
        position: relative;
        left: 70px;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
        width: 200px;
        z-index: 99999;
    }

    #profile-dropdown-menu a:hover, .container1 a:hover, .intro1 a:hover, .intro2 a:hover {
        background-color: aliceblue;
    }

    #profile-dropdown-menu {
        position: relative;
        left: 70px;
        z-index: 9999; /* مقدار بالاتر از همه عناصر دیگر */
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* نمایش واضح */
        border-radius: 8px;
        height: 200px;
        min-width: 200px;
        min-height: 350px;
        border: 2px solid;
    }

        #profile-dropdown-menu ul {
            display: flex; /* اضافه کردن flex برای چیدمان */
            flex-direction: column;
            list-style: none;
            margin: 0;
            position: relative;
            z-index: 9999;
            padding-left: 10px !important;
            padding-right: 10px !important;
        }

        #profile-dropdown-menu li {
            padding: 0 !important;
            border-bottom: 1px solid #ddd;
            width: 100%;
        }

            #profile-dropdown-menu li:last-child {
                border-bottom: none;
            }

        #profile-dropdown-menu a {
            text-decoration: none;
            color: #333;
            display: block;
            padding: 10px;
            transition: background-color 0.3s;
            width: 100%;
        }


    .profile-menu-container i {
        margin-left: 10px;
        font-size: 18px;
        color: #555;
        transition: color 0.3s ease;
    }

</style>
@*        <button id="profile-menu-button" class="profile-menu-button">پروفایل</button> *@


<div class="profile-menu-container">
    <div class="container1">

        <a class="profile-menu-button">
            <i class="fa fa-bell" aria-hidden="true"></i>
        </a>
        <div class="intro2">
            <div class="profile">
                @if (!IsIN)
                {
                    <i class="fas fa-user"></i>
                }
                else
                {
                    <i class="fa-solid fa-user" style="color: #63E6BE;"></i>
                }

                <a href="javascript:void(0)" class="profile-menu-button" id="profile-menu-button">
                    @if (!IsIN)
                    {
                        <i class="fa fa-arrow-down" aria-hidden="true" style="top4px;"></i>
                    }
                    else
                    {
                        <i class="fa fa-arrow-down" aria-hidden="true" style="top4px;color: #63E6BE;"></i>
                    }
                </a>
            </div>

            <div id="profile-dropdown-menu" hidden class="a">

                <ul>
                    <li>
                        <a href="/profile/">
                            @if (!IsIN)
                            {
                                <i class="fas fa-user"></i>
                            }
                            else
                            {
                                <i class="fa-solid fa-user" style="color: #63E6BE;"></i>
                            }
                            پروفایل
                        </a>
                    </li>
                    <li>
                        <a href="/digiclub/">
                            <i class="fas fa-gift"></i>
                            دیجی‌کلاب
                        </a>
                    </li>
                    <li>
                        <a href="/plus/landing/">
                            <i class="fas fa-plus-circle"></i>
                            پلاس
                        </a>
                    </li>
                    <li>
                        <a href="/profile/orders/">
                            <i class="fas fa-box"></i>
                            سفارش‌ها
                        </a>
                    </li>
                    <li>
                        <a href="/profile/lists/">
                            <i class="fas fa-list"></i>
                            لیست‌ها
                        </a>
                    </li>
                    <li>
                        <a href="/profile/comments/">
                            <i class="fas fa-comments"></i>
                            دیدگاه‌ها و پرسش‌ها
                        </a>
                    </li>
                    <li>
                        <a href="/profile/notification/">
                            <i class="fas fa-bell"></i>
                            پیام‌ها
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <i class="fas fa-sign-out-alt"></i>
                            خروج
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <span style="width: 1px; height: 50px; background-color: #ccc; margin: 0 20px; background-color:rgba(0,0,0,0.1)"></span>
        <div class="intro3">
            <div style=" position:relative ; height:100% ; width:100% ; justify-content:center ; text-align:center ; align-items:center ; top:25% ; margin-top:4px;">
                <a href="/logout" class="profile-menu-button">
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                </a>
            </div>

        </div>
    </div>
</div>

<script>
    // دریافت دکمه و منو
    const profileButton = document.getElementById("profile-menu-button");
    const dropdownMenu = document.getElementById("profile-dropdown-menu");

    // افزودن رویداد کلیک به دکمه
    profileButton.addEventListener("click", () => {
    // تغییر نمایش منو
    dropdownMenu.hidden = !dropdownMenu.hidden;
    });

    // بستن منو وقتی در جایی خارج از آن کلیک شود
    document.addEventListener("click", (event) => {
    // چک کردن کلیک خارج از دکمه و منو
    if (!profileButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
    dropdownMenu.hidden = true;
    }
    });

</script>

@code {
    public bool IsIN { get; set; } = false;
}
@functions {
    protected override async Task OnInitializedAsync()
    {
        string? token = await _localStorage.GetItemAsync<string>("authToken");
        if (!string.IsNullOrEmpty(token))
            IsIN = true;
        else IsIN = false;
        StateHasChanged();
        await base.OnInitializedAsync();
    }
}